<h1>Search Results </h1>
<span id="links">
  <%= link_to "Back to search", root_path %>
</span>
  
<div id="container">
  <div id="lh">
    <table cellpadding=0 cellspacing=0>
      <tr>
        <td>
          <h2>Current Conditions </h2>
        </td>
      </tr>
       <%  @doc.find('//aws:weather/aws:stations/aws:station').each do |station| %>
        <tr><td class="blue_table">
        <% name = station["name"] %>
        <% live_weather = WeatherItem.get_live_weather(station["id"]) %>
        <b><%= name %></b>
        <br/>
        <% begin %>
          <% temperature = live_weather.find('//aws:weather/aws:ob/aws:temp')[0].content %>
          <%= temperature %>
          <span><!-- there has to be an element preceeding the toggle class to receive the link --></span>
          <div class="toggle">
            <table>
              <% begin %>
                <tr>
                  <td>Current Contitions: </td><td><%= live_weather.find('//aws:weather/aws:ob/aws:current-condition')[0].content%></td>
                </tr>
                <tr>
                  <td>Temperature:</td><td> <%= live_weather.find('//aws:weather/aws:ob/aws:temp')[0].content%></td>
                </tr>
                <tr>
                  <td>Feels Like:</td><td> <%= live_weather.find('//aws:weather/aws:ob/aws:feels-like')[0].content %></td>
                </tr>
                <tr>
                  <td>Low temperature today: </td><td><%= live_weather.find('//aws:weather/aws:ob/aws:temp-low')[0].content%></td>
                </tr>
                <tr>
                  <td>High temperature today: </td><td><%= live_weather.find('//aws:weather/aws:ob/aws:temp-high')[0].content%></td>
                </tr>
              <% rescue %>
                <tr><td style="color:red;">No report for this station! </td></tr>
              <% end %>
            </table>
          </div>
        <% rescue %>
          <span style="color:red;">No report for this station! </span>
        <% end %>
        
        </td></tr>
      <% end %>
    </table>
  </div>


  <div id="rh">
    <table>
      <tr>
        <td>
          <h2>Forecast</h2>
        </td>
      </tr>
      <tr>
        <td>
          <% forecasts = @forecast.find('//aws:weather/aws:forecasts/aws:forecast')%>
          <% puts "I got " + forecasts.size.inspect %>
          <% unless forecasts.blank? %>
            <% i=0 %>
            <% forecasts.each do |forecast| %>
              <table>
                <tr>
                  <td  class="forecast_text">
                    <img src= <%= forecasts[i].find('aws:image')[0].content %>></img>
                    <%= forecasts[i].find('aws:title')[0].content %><br/>
                    <%= forecasts[i].find('aws:prediction')[0].content %><br/>
                    High: <%= forecasts[i].find('aws:high')[0].content %><br/>
                    Low: <%= forecasts[i].find('aws:low')[0].content %><br/>
                  </td>
                </tr>
              </table>
              <% i+=1 %>
              <br/><br/>
            <% end %>
          <%else %>
            <span style="color:red;">Problems fetching the forecast </span>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>


<script type="text/javascript">
  
// Andy Langton's show/hide/mini-accordion - updated 23/11/2009
// Latest version @ http://andylangton.co.uk/jquery-show-hide
 
// this tells jquery to run the function below once the DOM is ready
$(document).ready(function() {
 
// choose text for the show/hide link - can contain HTML (e.g. an image)
var showText='more...';
var hideText='less...';
 
// initialise the visibility check
var is_visible = false;
 
// append show/hide links to the element directly preceding the element with a class of "toggle"
//this won't work for some reason
$('.toggle').prev().append(' <a href="#" class="toggleLink">'+showText+'</a>');
 
// hide all of the elements with a class of 'toggle'
$('.toggle').hide();
 
// capture clicks on the toggle links
$('a.toggleLink').click(function() {
 
// switch visibility
is_visible = !is_visible;
 
// change the link depending on whether the element is shown or hidden
$(this).html( (!is_visible) ? showText : hideText);
 
// toggle the display - uncomment the next line for a basic "accordion" style
//$('.toggle').hide();$('a.toggleLink').html(showText);
$(this).parent().next('.toggle').toggle('slow');
 
// return false so any link destination is not followed
return false;
 
});
});

</script>
